.category-filter {
    display: flex;
    justify-content: center; 
    margin: 20px 0; 
  }
  
  .filter-button {
    background-color: var(--bg-background-color); 

    color: var(--primary-color); 
    padding: 10px 15px; 
    margin: 0 5px; 
    cursor: pointer; 
    transition: background-color 0.3s, color 0.3s; 
  }
  
  .filter-button:hover {
    background-color: var(--primary-color); 
    color: white; 
  }
  
  .filter-button.active {
    background-color: var(--primary-color); 
    color: white; 
  }
  